@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/* global element reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global varaibles */
:root {

    /* google imported font variables */
    --font-header: 'Saira Stencil One', cursive;

    /* dev borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px dotted darkred;
    --component: 2px solid darkgreen;
}
/* global flex element */
.elmnts {
    /* display props [ flex container ] */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    position: relative;
    z-index: 1;
}

/* header component */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;

    font-family: var(--font-header);
}
header .elmnts {
    /* global background props */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* position props [ absolute ] */
    position: absolute;
    width: 100%;
    height: 100%;
}
/* background image [ space ] */
#background {
    z-index: 2;
}
/* midground image [ landscape ] */
#midground {
    z-index: 4;
}
/* foreground image [ rocks ] */
#foreground {
    z-index: 5;
}
/* planet image [ earth ] */
#planet {
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 300px;

    z-index: 3;
    
    /* display: none; */
}
#title {
    
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);

    border: var(--wireframe);

    z-index: 6;

    
}
#about {
    align-items: flex-start;
    justify-content: space-between;
    max-height: 230px;
    max-width: 400px;
    margin-left: 7%;
    margin-bottom: 7%;
    bottom: 0;
    left: 0;
    padding-left: 4%;
    background: transparent;
    /* background: rgba(56, 56, 56, 0.301); */
    /* box-shadow: 12px 4px 6px 14px rgba(213, 216, 228, 0.301); */
    border-radius: 10px;

    z-index: 6;

    /* border: var(--component); */
}

header h2 {
    color: #FFF;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-bottom: 10%;
    /* border: var(--debugging); */
}
header h4 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 2%;
}
header p {
    color: #FFF;
    padding: 2%;
}
header button {
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    letter-spacing: 0.2rem;
    min-width: 100px;
    min-height: 40px;
    margin: 2%;    text-transform: capitalize;

    font-family: var(--font-header);
    
}


section {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    max-width: 80%;

    /* background: transparent; */
    background: rgba(0, 0, 0, 0.6);
    padding: 2%;
    margin: 5%;
    
    z-index: 3;
}
section .elmnts {

    border: var(--debugging);
    grid-column: span 3;
    grid-row: span 1;

    
}
